<template>
        <div class="content-detail-product">
            <div class="courses-detail--breadcrumd">
                <div class="container">
                    <div class="row">
                        <div class="col-8 detail-course-block">
                            <div class="detail-course-description">
                                <h3>{{course.name}}</h3>
                                <p>{{course.description}}</p>
                            </div>
                            <div class="detail-course-lecture">
                                <div class="detail-lecture">
                                    <img :src="`assets/admin/images/lecture/${lecture.images}`" alt="" class="lecture-avt">
                                    <p>{{lecture.hoten}}</p>
                                </div>
                                <div class="course-rate-star">
                                    <span class="star-rate">
                                        <i class="fa fa-star co-or" aria-hidden="true"></i>
                                        <i class="fa fa-star co-or" aria-hidden="true"></i>
                                        <i class="fa fa-star co-or" aria-hidden="true"></i>
                                        <i class="fa fa-star co-or" aria-hidden="true"></i>
                                        <i class="fa fa-star co-or" aria-hidden="true"></i>
                                    </span>
                                    <p>156 đánh giá</p>
                                </div>
                                <div class="count-student">
                                    <i class="fas fa-user-friends"></i>
                                    <p>4350 học viên</p>
                                </div>
                                <div class="course-update-date">
                                    <p>Cập nhật: 04/2021</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="video-youtube-block">
                            <iframe width="100%" height="420" :src="`https://www.youtube.com/embed/${course.video_thuml}`" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="block-buy-course">
                            <div class="price-course">
                                <h3>{{course.price_sale}}đ</h3>
                                <del>{{course.price_root}}vnđ</del>
                                <p>(72% OFF)</p>
                            </div>
                            <div class="time-sale">
                                <p> <i class="far fa-clock"></i> Thời gian ưu đãi còn 1 ngày</p>
                            </div>
                            <div class="btn-buy-course">
                                <a class="resgiter-course" href="">ĐĂNG KÍ HỌC</a>
                                <a class="add-cart-course" href=""><i class="fas fa-shopping-cart"></i> THÊM VÀO GIỎ HÀNG</a>
                                <p>Hoàn tiền trong 7 ngày nếu không hài lòng</p>
                            </div>
                            <div class="detail-buy">
                                <ul class="list-buy" style="margin-left: 0">
                                    <li>
                                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> Thời lượng:  04 giờ 01 phút</p>
                                    </li>
                                    <li>
                                        <p> <i class="fa fa-play-circle" aria-hidden="true"></i> Giáo trình: 45 bài giảng</p>
                                    </li>
                                    <li> <p><i class="fa fa-history" aria-hidden="true"></i> Sở hữu khóa học trọn đời</p></li>
                                    <li><p><i class="fa fa-certificate" aria-hidden="true"></i> Cấp chứng nhận hoàn thành</p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <div class="tab-detail hidden-xs">
                            <ul>
                                <li><a href="#course-introduction">Giới thiệu</a></li>
                                <li><a href="#course-content">Nội dung khóa học</a></li>
                                <li><a href="#u-course-teacher">Thông tin giảng viên</a></li>
                                <li><a href="#u-rate-hv">Đánh giá</a></li>
                            </ul>
                        </div>
                        <div class="u-learn-what">
                            <h3>Bạn sẽ học được gì</h3>
                            <div class="row">
                                <div class="col">
                                    <div class="learn-what-detail">
                                        <i class="fas fa-check"></i>  Kiến thức nhạc lý và các hợp âm guitar cơ bản nhất
                                    </div>
                                    <div class="learn-what-detail">
                                        <i class="fas fa-check"></i> Có cái nhìn tổng quát nhất về Guitar đệm hát ngày nay
                                    </div>
                                    <div class="learn-what-detail">
                                        <i class="fas fa-check"></i> Kiến thức nhạc lý và các hợp âm guitar cơ bản nhất
                                    </div>
                                    <div class="learn-what-detail">
                                        <i class="fas fa-check"></i> Kiến thức nhạc lý và các hợp âm guitar cơ bản nhất
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="learn-what-detail">
                                        <i class="fas fa-check"></i> Kiến thức nhạc lý và các hợp âm guitar cơ bản nhất
                                    </div>
                                    <div class="learn-what-detail">
                                        <i class="fas fa-check"></i> Có cái nhìn tổng quát nhất về Guitar đệm hát ngày nay
                                    </div>
                                    <div class="learn-what-detail">
                                        <i class="fas fa-check"></i> Kiến thức nhạc lý và các hợp âm guitar cơ bản nhất
                                    </div>
                                    <div class="learn-what-detail">
                                        <i class="fas fa-check"></i> Kiến thức nhạc lý và các hợp âm guitar cơ bản nhất
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="u-des-course" id="course-introduction">
                            <h3>Giới thiệu khóa học</h3>
                            <p>Guitar đã trở thành một nhạc cụ vô cùng quen thuộc ngày nay, chúng góp phần cho cuộc sống của con người thêm vui vẻ và hài hòa. Thực tế cho thấy những người có khả năng chơi một loại nhạc cụ nào đó thì luôn biết cách làm mình nổi bật giữa đám đông và vô cùng tự tin.&nbsp;</p>

                            <p>Trong một cuộc khảo sát tâm lý mới đây, với câu hỏi: Người đàn ông lý tưởng của bạn là gì? Có đến 70% các cô gái được hỏi đã nói: Người đàn ông lý tưởng của họ là người biết chơi Guitar.</p>

                            <p>Vậy tại sao bạn lại không chơi Guitar?</p>

                            <p>Guitar đệm hát đang là xu hướng dẫn đầu trong cộng đồng người yêu thích và chơi đàn guitar, cũng là phương thức chơi đàn thông dụng&nbsp;kết hợp song song giữa việc chơi đàn và hát</p>

                            <p>Hãy đến với khóa học âm nhạc<strong> "Đệm hát Guitar cơ bản của Hà Kế Tú"</strong> - một Guitarist - giảng viên Guitar nổi tiếng Việt Nam được nhắc đến với cái tên Haketu&nbsp;để làm chủ cây đàn Guitar trong tay và hát nghêu ngao cùng bạn bè, người yêu... chỉ trong một thời gian ngắn học guitar cơ bản đệm hát và thực hành.</p>

                            <p>Khóa học có gì dành cho bạn?</p>

                            <p>✔️ Trong khóa học, bạn sẽ biết các kiến thức cơ bản học guitar đệm hát&nbsp;trong Guitar&nbsp;để bạn có thể làm chủ một cách nhanh chóng cây đàn</p>

                            <p>✔️ Kiến thức nhạc lý cơ bản, đệm lý trong guitar đệm hát và một số hợp âm cơ bản cần nắm được</p>

                            <p>✔️ Mẹo chỉnh dây đàn guitar chuẩn và nhanh chóng</p>

                            <p>✔️ Được học guitar cơ bản đệm hát&nbsp;về các điệu: Valse, Boston, Slow Rock, Surf Ballad, Disco... thông qua 10+ bài tập thực hành chơi guitar các bài hát tiêu biểu.</p>

                            <p>✔️ Hoàn thiện kỹ năng chơi guitar một cách hoàn chỉnh thành thạo với 10+ bài đêm&nbsp;hát khác</p>

                            <p>✔️ Được định hướng phong cách chơi và định hướng con đường chuyên nghiệp cho người chơi guitar về sau.</p>

                            <p>Vậy còn chờ gì nữa mà không học guitar đệm hát&nbsp;cùng Haketu&nbsp;nhanh chóng làm chủ cây đàn Guitar ngay tại nhà với khóa học&nbsp;<strong>"Đệm hát Guitar cơ bản của Hà Kế Tú"</strong> thôi nào!</p>
                        </div>
                        <LearnChapter :chapterData="chapter"></LearnChapter>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
import * as indexService from '../../services/indexService';

import LearnChapter from './components/detailLearnChapter.vue';


export default {
    components: {
        LearnChapter,
    },
    data() {
        return {
            course: {
                name: '',
                description: '',
                status: '',
                images: '',
                search: [],
                free: '',
                giang_vien_id: '',
                price_root: '',
                price_sale: '',
                video_thuml: '',
            },
            chapter:[],
            lecture: {}
        }
    },

    methods: {
        getCourseAndLecture: async function(idCourse) {
            const response = await indexService.findCourseById(idCourse)
            this.course = response.data
            this.lecture = response.data.lecture
        },
        getLearnAndChapter: async function(idCourse) {
            const response = await indexService.getLearnAndChapterById(idCourse)
            // console.log(response.data);
            this.chapter = response.data;

        }
    },

    created() {
        const idCourse = this.$route.params.id;
        if (typeof idCourse !== 'undefined') {
            this.getCourseAndLecture(idCourse);
        }
        this.getLearnAndChapter(idCourse)
    }

}
</script>
