<template>
    <div >
        <Slide></Slide>
        <IndexContent :coursesData="courses"></IndexContent>
        <IndexLecture :lectureData="lectures"></IndexLecture>
    </div>
</template>

<script>
import * as indexService from '../../services/indexService';

import Slide from './components/indexSidebar.vue';
import IndexContent from './components/indexContent.vue';
import IndexLecture from './components/indexLecturer.vue';


export default {
    components: {
        Slide,
        IndexContent,
        IndexLecture,
    },
    data() {
        return {
            courses: [],
            lectures: []
        }
    },

    methods: {
        getCoursesAndLecture: async function() {
            const response = await indexService.loadCouresAndLecture();
            this.courses = response.data.courses;
            this.lectures = response.data.lectures;
        },
    },

    created() {
        this.getCoursesAndLecture();
    },


}
</script>
