<template>
    <div >
        <Navbar></Navbar>
        <!-- <Home></Home> -->
        <router-view></router-view>
        <IconMobile></IconMobile>
        <Footer></Footer>
    </div>
</template>

<script>
import * as indexService from '../../services/indexService';

import Home from './home.vue'
import Navbar from '../../layouts/navbar.vue';
import Footer from '../../layouts/footer.vue';
import IconMobile from '../../layouts/iconMobile.vue';

export default {
    components: {
        Home,
        Navbar,
        Footer,
        IconMobile
    },

}
</script>
