<template>
    <div class="content-page">
        <div class="row">
            <div class="col-xl-9">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-4 header-title text-danger">Thông tin khóa học</h4>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">ID</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" readonly="" name="id" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Tên khóa học</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="name" v-model="course.name"  parsley-trigger="change" required="" >
                                <label for="recipient-name" class="col-form-label" style="color:#c23616" v-if="errors.name">{{errors.name[0]}}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="example-textarea">Mô tả khóa học </label>
                            <div class="col-lg-10">
                                <textarea class="form-control" v-model="course.description" id="editor1" rows="10" cols="80" name="description" parsley-trigger="change" required=""> </textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label" for="example-textarea">Ảnh </label>
                            <div class="col-lg-10">
                                <img style="width:200px; height:100px;" v-if="urlImage" :src="urlImage" alt="" class="images">
                                <img v-else :src="`assets/admin/images/courses/`  + course.images" style="width:70px; height:40px;"  alt=""/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  for="example-fileinput">Thay ảnh khóa học</label>
                            <div class="col-lg-10" style="margin-left: 22px">
                                <input type="file" @change="onFileChange" />
                                <label for="recipient-name" class="col-form-label" style="color:#c23616" v-if="errors.image">{{errors.image[0]}}</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Link video hiển thị</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" v-model="course.video_thuml" name="video_thuml"  parsley-trigger="change" required="" >
                                <label for="recipient-name" class="col-form-label" style="color:#c23616" v-if="errors.video_thuml">{{errors.video_thuml[0]}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="mb-4 header-title text-danger">Giá khóa học</h4>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity" class="col-form-label">Giá gốc</label>
                                <input type="fload" class="form-control" id="inputCity" name="price_root" v-model="course.price_root"  parsley-trigger="change" required="">
                                <label for="recipient-name" class="col-form-label" style="color:#c23616" v-if="errors.price_root">{{errors.price_root[0]}}</label>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity" class="col-form-label">Giá khuyến mãi</label>
                                <input type="fload" class="form-control" id="inputCity" name="price_sale" v-model="course.price_sale"  parsley-trigger="change" required="">
                                <label for="recipient-name" class="col-form-label" style="color:#c23616" v-if="errors.price_sale">{{errors.price_sale[0]}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-xl-3">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <label  for="example-date">Trạng thái khóa học</label>
                            <select v-model="course.status" class="form-control col-md-9" name="status">
                                <option value="1">Hiện</option>
                                <option value="0">Ẩn</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <label  for="example-date">Phí khóa học</label>
                            <select v-model="course.free" class="form-control col-lg-10" name="free">
                                <option value="1">Miễn phí</option>
                                <option value="0">Mất phí</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row video">
                            <iframe width="250" height="150" :src="`https://www.youtube.com/embed/${course.video_thuml}?controls=0`" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row" >
                            <label for="example-date">Giảng viên</label>
                            <label for="recipient-name" class="col-form-label" style="color:#c23616" v-if="errors.giang_vien_id">{{errors.giang_vien_id[0]}}</label>
                            <el-select v-if="isUpdate == false" v-model="course.giang_vien_id" placeholder="Select" style="width: 100%">
                                <el-option
                                    v-for="lecture in lectures"
                                    :key="lecture.id"
                                    :label="lecture.hoten"
                                    :value="lecture.id">
                                </el-option>
                            </el-select>
                            <el-select v-if="isUpdate == true" v-model="course.lecture.id" placeholder="Select" style="width: 100%">
                                <el-option
                                    v-for="lecture in lectures"
                                    :key="lecture.id"
                                    :label="lecture.hoten"
                                    :value="lecture.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="form-group row">
                            <div>
                                <label for="example-date">Từ khóa tìm kiếm</label>
                            </div>
                            <div>
                                <el-tag
                                    :key="tag"
                                    v-for="tag in dynamicTags"
                                    closable
                                    :disable-transitions="false"
                                    @close="handleClose(tag)">
                                    {{tag}}
                                </el-tag>
                                <el-input
                                    class="input-new-tag"
                                    v-if="inputVisible"
                                    v-model="inputValue"
                                    ref="saveTagInput"
                                    size="mini"
                                    @keyup.enter.native="handleInputConfirm"
                                    @blur="handleInputConfirm"
                                    >
                                </el-input>
                                <el-button v-else class="button-new-tag" size="small" @click="showInput">+ New Tag</el-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-icon waves-effect waves-light btn-warning" name="submit" @click="insertCourses">  <i class="ion ion-md-add"></i>Lưu thông tin </button>
        </div>
    </div>
</template>
<script>
    import * as indexService from '../../../services/indexService';
    export default {
        data() {
            return {
                course: {
                    name: '',
                    description: '',
                    status: '',
                    images: '',
                    search: [],
                    free: '',
                    giang_vien_id: '',
                    price_root: '',
                    price_sale: '',
                    video_thuml: '',
                },
                isUpdate: false,
                images: '',
                errors: [],
                urlImage: '',
                lectures: [],
                dynamicTags: ['Guitar'],
                inputVisible: false,
                inputValue: '',
            }
        },
        methods: {
            loadLecture: async function() {
                const reponse = await indexService.loadLectureEditCourse();
                this.lectures = reponse.data.lectures;
            },
            handleClose(tag) {
                this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
            },

            showInput() {
                this.inputVisible = true;
                this.$nextTick(_ => {
                this.$refs.saveTagInput.$refs.input.focus();
                });
            },

            handleInputConfirm() {
                let inputValue = this.inputValue;
                if (inputValue) {
                this.dynamicTags.push(inputValue);
                }
                this.inputVisible = false;
                this.inputValue = '';
            },
            submitUpload() {
                this.$refs.upload.submit();
            },

            onFileChange(event) {
                this.images = event.target.files[0];
                this.urlImage = URL.createObjectURL(this.images);
                console.log(this.images);
            },

            insertCourses: async function() {
                try {
                    let formData = new FormData();

                    formData.append('name', this.course.name);
                    formData.append('description', this.course.description);
                    formData.append('status', this.course.status);
                    formData.append('free', this.course.free);
                    formData.append('images', this.images);
                    formData.append('video_thuml', this.course.video_thuml);
                    formData.append('giang_vien_id', this.course.giang_vien_id);
                    formData.append('search', this.dynamicTags);
                    formData.append('price_root', this.course.price_root);
                    formData.append('price_sale', this.course.price_sale);

                    const idCourseUpdate = this.$route.params.id;

                    const response = await indexService.insertCourse(formData,idCourseUpdate );

                    this.$notify({
                        title: 'Success',
                        message: response.data.message,
                        type: 'success'
                    });

                    this.$router.push('/listCourses');

                } catch(error) {
                    this.errors = error.response.data.errors;
                    console.log(this.errors);
                    this.$notify.error({
                        title: 'Error',
                        message: 'Có lỗi trong quá trình thêm mới'
                    });
                }
            },

            updateCourse: async function(idCourse) {
                const response = await indexService.findCourseById(idCourse)
                this.isUpdate = true
                this.course = response.data;
                const tagArray = response.data.search.split(",");
                this.dynamicTags = tagArray;
            }
        },

        created() {
            this.loadLecture();
            const idCourse = this.$route.params.id;
            if (typeof idCourse !== 'undefined') {
                this.updateCourse(idCourse);
            }

        }
    }
</script>

<style>
  .el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
</style>
