<template>
    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="header-title mb-4">DANH SÁCH KHÓA HỌC</h4>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6">
                                        <div id="datatable_filter" class="dataTables_filter">
                                            <label>
                                                Nhóm khóa học
                                                <select name="datatable_length" v-model="search.groupCourse" aria-controls="datatable" class="custom-select custom-select-sm form-control form-control-sm">
                                                    <option value=""> </option>
                                                    <option value="1"> CLASSIC</option>
                                                    <option value="3"> AUCOUSTIC</option>
                                                    <option value="4"> CƠ BẢN</option>
                                                    <option value="5"> NÂNG CAO</option>
                                                    <option value="6"> MIỄN PHÍ</option>
                                                </select>
                                            </label>
                                            <label>Search: Giá / Tên khóa học / ID khóa học
                                                <input v-model="search.nameIdCourse" type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable">
                                            </label><button @click="searchCourse"  class="btn-search-course"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="block-button">
                                            <button @click="deleteAllCourses" v-if="courseSingle.length != 0"  type="button" class="btn btn-icon waves-effect waves-light btn-danger btn-deleteCourses"> <i class="far fa-trash-alt"></i></button>
                                            <a href=""  class="btn btn-icon waves-effect waves-light btn-warning btn-create-course" >
                                                <i class="ion ion-md-add"></i>
                                                <router-link to="/adminEdit"> Thêm mới</router-link>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <div class="table-responsive" id="khoahoc">
                                    <table id="tech-companies-1 st_table" class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th><input id="checkbox2" type="checkbox" v-model="multipleSelect" @change="selectAllCourses"></th>
                                                <th>Ảnh</th>
                                                <th>Id</th>
                                                <th>Tên khóa học</th>
                                                <th>Giá <i style="width: 20px" class="ion ion-ios-arrow-round-down"></i></th>
                                                <th>Hiện <i class="ion ion-ios-arrow-round-down"></i></th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(course, index) in courses" :key="index" >
                                                <td><input id="checkbox2" type="checkbox" v-model="courseSingle" @change="selectSingleCourse" :value="course.id"></td>
                                                <td><img :src="`assets/admin/images/courses/`  + course.images" style="width:70px; height:40px;"  alt=""/></td>
                                                <td>{{course.id}}</td>
                                                <td>{{course.name}}</td>
                                                <td>{{course.price_sale}}</td>
                                                <td>
                                                    <span v-if="courses.status == 1" class="badge badge-primary"><i class="ion ion-md-checkmark"> Hiện</i></span>
                                                    <span v-else class="badge badge-danger"><i class="ion ion-md-checkmark"> Ẩn</i></span>

                                                </td>
                                                <td>
                                                    <button @click="editCourses(course.id)" type="button" class="btn btn-icon waves-effect waves-light btn-primary"> <i class="fa fa-wrench"></i> </button>
                                                    <button type="button" class="btn btn-icon waves-effect waves-light btn-warning"> <i class="far fa-eye"></i> </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- end .table-responsive-->
                            </div>
                            <!-- end card-body -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container-fluid -->
            <!-- <div class="panigation-course">
                <el-pagination background
                    @current-change="changePage"
                    :current-page.sync="currentPage"
                    :page-size="perPage"
                    layout="prev, pager, next"
                    :total="total">
                </el-pagination>
            </div> -->
        </div>
    </div>
</template>
<script>
    import * as indexService from '../../../services/indexService';
    export default {
        data() {

            return {
                courses: [],
                multipleSelect: false,
                courseSingle: [],
                search: {
                    groupCourse: '',
                    nameIdCourse: ''
                },
                perPage: 1,
                currentPage: 1,
                total:0
            }
        },
        methods: {
            getCourses: async function() {
                const response = await indexService.loadCoures()
                this.courses = response.data
                // this.total = response.data.total
                // this.perPage = response.data.per_page
            },
            // changePage(page) {
            //     this.currentPage = page
            //     // this.getCourses(this.currentPage);
            //     console.log(this.currentPage)
            // },

            editCourses(id) {
                this.$router.push(`/edit-course/${id}`);
            },


            deleteAllCourses: async function() {
                console.log(this.courseSingle)
                if (this.courseSingle == 0) {
                    alert('Không có bản ghi nào được chọn cả')
                } else {
                    if(window.confirm(`Bạn có muốn xóa`)) {
                        const response = await indexService.deleteAllCourses(this.courseSingle);

                        for (const valueIdDeleted of this.courseSingle ) {
                            this.courses = this.courses.filter(obj => {
                                return obj.id != valueIdDeleted
                            })
                        }

                        this.courseSingle = []
                        this.$notify({
                            title: 'Success',
                            message: response.data.message,
                            type: 'success'
                        });
                    }
                }
            },

            selectAllCourses() {
                if (this.multipleSelect == true) {
                    this.courseSingle = []
                    for(var i = 0; i < this.courses.length; i++) {
                        this.courseSingle.push(this.courses[i]['id']);
                    }
                } else {
                    this.courseSingle = []
                }
                console.log(this.courseSingle)
            },
            selectSingleCourse() {
                if (this.courses.length == this.courseSingle.length) {
                    this.multipleSelect = true
                } else {
                    this.multipleSelect = false
                }
                console.log(this.courseSingle)
            },
            searchCourse: async function() {
                console.log(this.search.groupCourse, this.search.nameIdCourse)
                let formData = new FormData();

                formData.append('idGroupCourse', this.search.groupCourse)
                formData.append('nameIdCourse', this.search.nameIdCourse)
                const response = await indexService.searchCourse(formData);
                this.courses = response.data
            }
        },

        created() {
            this.getCourses();
        },
    }

</script>
<style scoped>

.block-button {
    float: right;
    margin-top: 10px;
}
.btn-search-course {
    background-color: white;
    border: none;
    margin-left: 5px;
    height: 29px;
}

</style>
