<template>
    <div id="wrapper">
        <Navbar></Navbar>
        <Sidebar></Sidebar>
        <router-view></router-view>
    </div>

</template>

<script>
import * as indexService from '../../services/indexService';

import Navbar from '../../layouts/admin/navbar.vue'
import Sidebar from '../../layouts/admin/sidebar.vue'
import Courses from './components/listCourses.vue'
export default {
    components: {
        Navbar,
        Sidebar,
        Courses
    },
}
</script>
