
/* Base */
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #0975b4;
    --primary-color2: #f26c4f;
    --border-color: #dbdbdb
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


.teacher-avartar img{
    border-radius: 150px;
    box-shadow: 1px 1px 1px #ccc;
    display: inline-block !important;
    width: 150px;
    height: 150px;
}
.teacher-description {
    margin-top: 30px;
    text-align: center;
}
.teacher-description--name {
    color: #273167;
    font-weight: bold;
}
.teacher-description--detail {
    margin-top: 20px;
}
.teacher{
    cursor: pointer;
}
.teacher:hover {
    box-shadow: 0 0.0625rem 1.325rem 0 rgba(0, 0, 0, 0.1);
}
.title-teacher H2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.categorie-search-box input {
    border-radius: 20px;
    max-width: 400px;
}
.categorie-search-box button {
    border-radius: 0 20px 21px 0;
    margin-right: 60px;
    background-color: var(--primary-color);
}
.categorie-search-box button:hover {
    background-color: #3498db;
}
.active-icon{
    font-size: 14px;
}
.btn-active {
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    display: inline-block;
    color: #333;
    background: #eee;
    display: flex;
    margin-left: -10px;
}
.header-middle {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: white;
    padding: 8px;
}
.main-page-banner {
    margin-top: 80px;
}
.post-title h2 {
    background-color: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}
.name-courses {
    font-size: 16px;
    font-weight: 500;
}
.label-product {
    font-size: 12px;
    color: black;
    font-weight: 200;
    margin-bottom: 10px;
    margin-right: -15px;
    transition: top linear 0.1s;
}

.home-product-item__rating {

}
.pro-info h4 {
    font-size: 12px;
}
.single-product {
    position: relative;
}
.single-product:hover{
    box-shadow: 0 0.0625rem 0.525rem 0 rgba(0, 0, 0, 0.2);
}
.home-product-item__saleoff {
    position: absolute;
    right:0;
    top:0;
    width: 40px;
    height: 36px;
    background-color: rgba(242, 108,79,0.8);
    text-align: center;
    display: block;
    color: white;
    font-size: 14px;


}
.home-product-item__saleoff::after{
    content: "";
    position: absolute;
    top: 36px;
    right: 0;
    border-width: 0px 20px 6px;

    border-style: solid;
    border-color:  rgba(242, 108,79,0.8) rgba(242, 108,79,0.8) transparent rgba(242, 108,79,0.8);
}
.all-courses {
    margin-top: -40px;
}
  .hotline-phone-ring-wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999999;
    }

    .hotline-phone-ring {
        position: relative;
        visibility: visible;
        background-color: transparent;
        width: 110px;
        height: 110px;
        cursor: pointer;
        z-index: 11;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transition: visibility .5s;
        left: 0;
        bottom: 0;
        display: block;
    }

    .hotline-phone-ring-circle {
        width: 85px;
        height: 85px;
        top: 10px;
        left: 10px;
        position: absolute;
        background-color: transparent;
        border-radius: 100%;
        border: 2px solid #e60808;
        -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
        animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        opacity: 0.5;
    }

    .hotline-phone-ring-circle-fill {
        width: 55px;
        height: 55px;
        top: 25px;
        left: 25px;
        position: absolute;
        background-color: rgba(230, 8, 8, 0.7);
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
        animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    .hotline-phone-ring-img-circle {
        background-color: #e60808;
        width: 33px;
        height: 33px;
        top: 37px;
        left: 37px;
        position: absolute;
        background-size: 20px;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
        animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hotline-phone-ring-img-circle .pps-btn-img {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .hotline-phone-ring-img-circle .pps-btn-img img {
        width: 20px;
        height: 20px;
    }

    .hotline-bar {
        position: absolute;
        background: rgba(230, 8, 8, 0.75);
        height: 40px;
        width: 180px;
        line-height: 40px;
        border-radius: 3px;
        padding: 0 10px;
        background-size: 100%;
        cursor: pointer;
        transition: all 0.8s;
        -webkit-transition: all 0.8s;
        z-index: 9;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 50px !important;
        /* width: 175px !important; */
        left: 33px;
        bottom: 37px;
    }

    .hotline-bar>a {
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        text-indent: 50px;
        display: block;
        letter-spacing: 1px;
        line-height: 40px;
        font-family: Arial;
    }

    .hotline-bar>a:hover,
    .hotline-bar>a:active {
        color: #fff;
    }

    @-webkit-keyframes phonering-alo-circle-anim {
        0% {
            -webkit-transform: rotate(0) scale(0.5) skew(1deg);
            -webkit-opacity: 0.1;
        }

        30% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            -webkit-opacity: 0.5;
        }

        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
            -webkit-opacity: 0.1;
        }
    }

    @-webkit-keyframes phonering-alo-circle-fill-anim {
        0% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            opacity: 0.6;
        }

        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
            opacity: 0.6;
        }

        100% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            opacity: 0.6;
        }
    }

    @-webkit-keyframes phonering-alo-circle-img-anim {
        0% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
        }

        10% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        }

        20% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        }

        30% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        }

        40% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        }

        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
        }

        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
        }
    }

    @media (max-width: 768px) {
        .hotline-bar {
            display: none;
        }
    }

    .social-button{
      display: inline-grid;
        position: fixed;
        background-color:rgba(255,255,255,0) !important;
        bottom: 15px;
        right: 20px;
        min-width: 45px;
        text-align: center;
        z-index: 99999;
    }
    .social-button-content{
      display: inline-grid;
    }
    .social-button a {padding:8px 0;cursor: pointer;position: relative;}
    .social-button i{
      width: 40px;
        height: 40px;
        background: #F05A5E;
        color: #fff;
        border-radius: 100%;
        font-size: 20px;
        text-align: center;
        line-height: 1.9;
        position: relative;
        z-index: 999;
    }
    .social-button span{
      display: none;
    }

    .mes:hover > span, .zalo:hover > span{display: block}
    .social-button a span {
        border-radius: 2px;
        text-align: center;
        background: #ffffff;
        padding: 9px;
        display: none;
        width: 180px;
        margin-right: 10px;
        position: absolute;
        color: #ffffff;
        z-index: 999;
        top: 9px;
        right: 20px;
    }

/* ---------------------------detail contetnt--------------------- */
.content-detail-product {
    margin-top: 50px;
    background-color:#f3f3f3 ;
}
.courses-detail--breadcrumd {
    width: 100% ;
    background: #0b3955;
    min-height: 200px;
}
.detail-course-block p, h3 {
    color: white;
    margin-bottom: 10px;
}
.detail-course-description {
    margin-top: 50px
}
.detail-course-description h3 {
    font-weight: bold;
    font-size: 36px;
}
.detail-course-description p {
    margin: 10px 0;
    line-height: 21px;
    color: white;
}
.detail-course-lecture {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 20px;
    margin-right: 100px;


}
.detail-lecture {
    display: flex;
}
.detail-lecture img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 5px;
}
.detail-lecture p {
    font-weight: 500;
    line-height: 30px;
    margin-left: 6px;
}
.count-student {
    display: flex;
}
.count-student p {
    margin-left:  8px;

}
.count-student i {
    margin-top: 1px;
}
.course-rate-star {
    display: flex;
}
.course-rate-star i {
    font-size: 12px;
    color: gold;
}
.course-rate-star p {
    margin-left: 6px;
}
/* you tube------------------ */
.video-youtube-block {
    margin-top: 10px;

}
.button-course-block {
    width: 100%;
}
.tab-detail {
    width: 100%;
    background: #fff;
    display: inline-block;
    margin-top: 10px;
    border-radius: 3px;
    padding: 0;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);

}
.tab-detail li {
    float: left;
    padding: 15px 24px;

}
.tab-detail li:hover {
    background-color: #e1e1e1;
}
.tab-detail a {
    color: #333;
}
.block-buy-course {
    border-radius: 5px;
    background: #fff;
    padding: 20px 15px 5px 15px;
    top: -150px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.price-course {
    display: flex;
    justify-content: space-between;

}
.price-course h3 {
    color: #333;
    font-size: 32px;
    font-weight: bold;
}
.price-course del {
    margin-top: 13px;
    font-size: 20px;
}
.price-course p {
    margin-top: 13px;

}
.time-sale {
    display: flex;
    width: 100%;
    color: #04620f;
    font-weight: bold;
}
.time-sale p {
    color: #04620f;
    font-weight: bold;
    margin: 10px 0;
    display: inline-block;

}
.time-sale i {
    font-weight: bold;
    margin-right: 8px;
    margin-top: -10px;
}
.btn-buy-course {
    display: flex;
    flex-direction: column;
}
.btn-buy-course .resgiter-course,.add-cart-course {
    padding: 18px ;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
}
.resgiter-course {
    background-color:#df322f ;
}
.add-cart-course {
    background-color: #0bb732;
}
.resgiter-course:hover{
    opacity: 0.6;
}
.add-cart-course:hover {
    opacity: 0.6;
    color: white;
}
.btn-buy-course p {
    text-align: center;
        color: #858585;
    font-size: 12px;
}
.list-buy li {

    font-size: 14px;
    display: flex;

}
.list-buy li p {
    line-height: 36px;
    color: #555;
}
.list-buy li i {
    margin-right: 15px;
    font-size: 16px;
}
/* Bạn sẽ học được gì */

.u-learn-what {
    background-color: white;
    padding: 15px;
    line-height: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}
.u-learn-what h3 , .u-des-course h3, .u-list-course h3 {
    color: #333;
    padding: 15px 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 600;
}
.learn-what-detail {
    margin-bottom: 22px;
    color: #333;
    font-size: 14px;
}
.learn-what-detail i {
    color: #1fd63b;
    margin-right: 8px;
}
.u-des-course p {
    padding: 10px;
    line-height: 1.5;
    text-align: justify;
}
.u-des-course {
    background-color: white;
    margin-top: 10px;
    padding: 0 10px;
}
.u-list-course {
    background-color: white;
    margin-top: 10px;
    border-radius: 4px;
    margin-bottom: 50px;
    /* visibility: hidden; */
}
.panel-default {
    padding: 10px ;
}
.panel-heading {
     background-color:#f5f5f5 ;
     padding: 12px 10px;
     border-radius: 2px;

}
.panel-title {
    color: #333;
    font-size: 14px;
    font-weight: bold;
}
.panel-heading a {
    color: #333;
}
.detail-learn-row {
    line-height: 30px;
    padding: 4px 20px;
}
.name-learn a{
    color: #333;
    font-size: 14px;
}
.name-learn i {
    color: #04620f;
    margin-right: 2px;
}
.learn-thu a {
    color:#006cca ;
    font-weight: 500;
    font-size: 14px;
}
.time {
    font-size: 14px;
    color: #555;

}
.learn-row-course-block {
    border-bottom: 1px solid #ddd;
}
.box3 {
    display: none;
}
