<template>
    <div class="left-side-menu">
    <div class="slimscroll-menu">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Navigation</li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                    <i class="ion ion-ios-clipboard"></i>
                    <span> Quản trị  </span>
                    <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><router-link to="/listCourses"> Danh sách khóa học</router-link></li>
                        <li><a href="">Danh sách giảng viên</a></li>
                        <li><a href="">Danh sách mua khóa học</a></li>
                        <li><a href="">Danh sách nhóm khóa học</a></li>
                        <li><a href="">Danh sách học viên</a></li>
                        <li><a href="#">Danh sách bình luận mới</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                    <i class="fas fa-sim-card"></i>
                    <span> Mã kích hoạt  </span>
                    <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="">Quản lí mã kích hoạt</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                    <i class="ion ion-md-podium"></i>
                    <span>  Báo cáo  </span>
                    <span class="badge badge-danger badge-pill float-right"> 8 </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="">Báo cáo  theo tháng</a></li>
                        <li><a href="">Báo cáo theo khóa học</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                    <i class="ion ion-md-aperture"></i>
                    <span> Quản trị giao diện </span>
                    <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="">Quản trị banner</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                    <i class="ion ion-ios-basket"></i>
                    <span> Voucher </span>
                    <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="">Tạo voucher</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- End Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
    </div>
</template>
