    #toast{
        position: fixed;
        top: 80px;
        right: 48px;
    }
    .bonus{

        height: 80px ;
        border-color: #0652DD;
        display: flex;
        align-items: center;
        width: 340px;
        height: 80px;
        box-shadow: 0 5px 8px rgba(0,0,0,0.1) ;
        transition: all linear 0.5s;

    }
    @keyframes slideLeft {
        from {
            transform: translateX( calc(100% + 48px));
        }
        to {
            transform: translateX(0);
        }
    }
    @keyframes fadeOut {
        to {
            opacity: 0;
        }
    }
