<template>
    <div class="u-list-course" id="course-content">
        <h3>Nội dung khóa học</h3>
        <div class="content-list-learn">
            <div v-for="(chapter, index) in chapters" :key="index" class="panel-group">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="" aria-expanded="true">
                                        <i class="fa fa-minus-square" aria-hidden="true"></i>
                                        Phần {{ chapter.sort_chapter }}: {{chapter.name_chapter}}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-for="(learn, index) in chapter.learn" :key="index" class="learn-row-course-block" id="detail-learn-row">
                    <div class="row detail-learn-row">
                        <div class="col name-learn">
                            <a href=""><i class="fa fa-play-circle" aria-hidden="true"></i>{{learn.name}}</a>
                        </div>
                        <div class="col-md-auto learn-thu">
                            <a href="">Học thử</a>
                        </div>
                        <div class="col col-lg-2">
                            <div class="time">02:55</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import * as indexService from '../../../services/indexService'
export default {
    data() {
        return {
            chapters: []
        }
    },
    props: ['chapterData'],
    methods: {

    },

    watch: {
        chapterData (value) {
            this.chapters = value
            console.log(this.chapters);
        }
    },

}
</script>
