<template>
        <div class="hot-deal-products off-white-bg pb-90 pb-sm-50">
            <div class="container">
               <!-- Product Title Start -->
               <div class="post-title pb-30">
                   <h2>KHÓA HỌC BÁN CHẠY</h2>
               </div>
                <div class="hot-deal-active owl-carousel">
                    <!-- Single Product Start -->
                    <div v-for="(course, index) in courses"   class="single-product" >
                        <!-- Product Image Start -->
                        <div class="pro-img" @click="detailCourse(course.id)">
                            <a>
                                <img class="primary-img" src="https://static.unica.vn/upload/images/2019/08/B%C3%AD-quy%E1%BA%BFt%20b%C3%A1n%20l%E1%BA%BB%20ng%C3%A0n%20%C4%91%C6%A1n%20tr%C3%AAn%20Shopee,%20Zalo%20v%C3%A0%20Facebook_m_1567158164.jpg" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <div class="pro-content">
                            <div class="pro-info">
                                <h4 style="font-size: 14px;"><a href="">{{course.name}}</a></h4>
                                <p><span class="price">{{course.price_sale}} vnđ</span><del class="prev-price">{{course.price_root}} vnđ</del></p>
                                <div class="label-product l_sale">
                                    <div>{{ course.lecture ? course.lecture.hoten : '' }} </div>
                                    <div class="home-product-item__rating">
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="pro-actions">
                                <div class="actions-primary">
                                    <a @click="addCart(course)" title="Add to Cart">+ Mua Khóa Học</a>
                                </div>
                                <div class="actions-secondary">
                                    <a href="compare.html" title="Compare"><i class="lnr lnr-sync"></i> <span>Add To Compare</span></a>
                                    <a href="wishlist.html" title="WishList"><i class="lnr lnr-heart"></i> <span>Add to WishList</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="home-product-item__saleoff">
                            <span class="home-product-item__percen">10%</span>
                            <span class="home-product-item__label">GIẢM</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</template>

<script>
import * as indexService from '../../../services/indexService'
import EventBus from '../../../event-bus'

export default {
    data() {
        return {
            courses: {
                name: '',
                image: '',
                price_root: '',
                price_sale: '',
                lecture: ''
            },

            carts: [],
            cartAdd: {
                id: '',
                name: '',
                price: '',
                image: ''
            },
            badge: '0',
            quantity: '1',
            totalPrice: '0',
        }
    },
    props: ['coursesData'],
    methods: {
        detailCourse(id) {
            this.$router.push(`/detail-course/${id}`);
        },
        viewCart() {
            if(localStorage.getItem('carts')) {
                this.carts = JSON.parse(localStorage.getItem('carts'));
                EventBus.$emit('cartCourse', this.carts);
            }
        },
        addCart(course) {
            this.cartAdd.id = course.id,
            this.cartAdd.name = course.name,
            this.cartAdd.price = course.price_sale,
            this.cartAdd.image = course.images,
            this.carts.push(this.cartAdd);
            this.cartAdd = {};
            this.storeCart()

        },
        removeCart() {

        },
        storeCart() {
            let parsed = JSON.stringify(this.carts);
            localStorage.setItem('carts', parsed);
            this.viewCart()
        },
    },

    watch: {
        coursesData (value) {
            this.courses = value
        }
    },
    created() {
        this.viewCart();
    }

}
</script>
