<template>
    <div>
        <div class="support-area bdr-top">
            <div class="container">
                <div class="d-flex flex-wrap text-center">
                    <div v-for="(lecture, index) in lectures" :key="index" class="single-support teacher">
                        <div class="teacher-avartar">
                           <img src="https://unica.vn/uploads/Thaoptt/August52016431pm_nguyen-hieu_thumb.jpg" alt="">
                        </div>
                        <div class="teacher-description" >
                            <div class="teacher-description--name">
                                {{ lecture.hoten }}
                            </div>
                            <div class="teacher-description--detail">
                                <p>Đại sứ Yoga Việt Nam - CEO Zenlife Yoga</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Container End -->
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                lectures: [],
            }
        },
        props: ['lectureData'],

        watch: {
            lectureData(value) {
                this.lectures = value
            }
        }
    }
</script>
