<template>
        <div class="icon-mobile-zalo">
            <div class="hotline-phone-ring-wrap">
            <div class="hotline-phone-ring">
                <div class="hotline-phone-ring-circle"></div>
                <div class="hotline-phone-ring-circle-fill"></div>
                <div class="hotline-phone-ring-img-circle">
                    <a href="tel:0988333069" class="pps-btn-img">
                        <img src="https://nocodebuilding.com/wp-content/uploads/2020/07/icon-call-nh.png" alt="Gọi điện thoại"
                            width="50">
                    </a>
                </div>
            </div>
            <div class="hotline-bar">
                <a href="tel:0967723426">
                    <span class="text-hotline">09677 234 26</span>
                </a>
            </div>
        </div>
        <div class="social-button">
            <div class="social-button-content">
                <a href="https://m.me/nocodebuilding/" target="_blank" class="mes">
                <img src="https://nocodebuilding.com/wp-content/uploads/2020/07/fb.png" alt="Chat Messenger">
                </a>
                <a href="http://zalo.me/0967723426" target="_blank" class="zalo">
                <img src="https://nocodebuilding.com/wp-content/uploads/2020/07/zl.png" alt="Chat Zalo">
                </a>
            </div>
        </div>
        </div>
</template>
